=form_for @task = Task.new, url: tasks_path(@task, audit_id: audit.id), remote: true, html: { style: "display:inline;" } do |f|
  .input-group
    = f.text_field :descr, class: "form-control"
    %span.input-group-btn
      = f.submit t('task.new'), class: "btn btn-default"

