.modal-dialog
  .modal-content
  .modal-header
    %h3= t('audit.modal.deleteheader')
  .modal-body
    =t('audit.modal.deletebody', name: @audit.name)
  .modal-footer
    = link_to t('audit.modal.accept'), audit_path(@audit), method: :delete, remote: true, class: "btn btn-danger"
    = link_to t('audit.modal.cancel'), "#", class: "btn btn-default", data: { dismiss: "modal" }
